- unless request.request_uri =~ /.*selector.*/
  %h1 Files
- else
  %h1 Files & Pages
  
#tab-control
  %div.tabs#tabs
    - unless request.request_uri =~ /.*selector.*/
      %div#tab-toolbar
        - form_tag(admin_managed_files_url, {:multipart => true, :style => "margin: 0; padding: 0; height: 0;"}) do
          %div{:style => "margin-top: -10px;"}
            %strong Upload File
            = file_field 'managed_file', :uploaded_data
            - if developer?
              = check_box_tag 'managed_file[internal]'
              Internal
            = submit_tag "Upload"
    = tab_link_to "All", 'all'
    - [:photos, :flash, :multimedia].each do |type|
      = tab_link_to type.to_s.humanize, type
    - if developer?
      = tab_link_to 'Internal', 'internal'
    = tab_link_to 'Other', 'other'
    - if request.request_uri =~ /.*selector.*/
      = tab_link_to 'Pages', 'pages'
  %br{:style=>"clear: both;"}
%div.pages#pages
  %div.page
    - if params[:file_type] == 'pages'
      %table#managed_files.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
        %thead
          %tr
            %th.title Title
        %tbody{:style=> "font-size: 11px;"}
          - page=Page.find_by_parent_id(nil)
          %tr.node.level-1
            %td.title
              = image_tag('admin/page.png', :alt => 'page-icon', :size => "12x15")
              %span= link_to_function page.title, "javascript:OpenFile('#{page.url}')"
          - Page.find_by_parent_id(nil).children.each do |page|
            %tr.node.level-1
              %td.title
                = image_tag('admin/page.png', :alt => 'page-icon', :size => "12x15")
                %span= link_to_function page.title, "javascript:OpenFile('#{page.url}')"
            - unless page.children.nil? || page.children.empty?
              - page.children.each do |page|
                %tr.node.level-2
                  %td.title
                    %span{:style=>"width: 30px;"} &nbsp;&nbsp;&nbsp;
                    = image_tag('admin/page.png', :alt => 'page-icon', :size => "12x15")
                    %span= link_to_function page.title, "javascript:OpenFile('#{page.url}')"
              - unless page.children.nil? || page.children.empty?
                - page.children.each do |page|
                  %tr.node.level-3
                    %td.title
                      %span{:style=>"width: 60px;"} &nbsp;&nbsp;&nbsp;
                      = image_tag('admin/page.png', :alt => 'page-icon', :size => "12x15")
                      %span= link_to_function page.title, "javascript:OpenFile('#{page.url}')"
                - unless page.children.nil? || page.children.empty?
                  - page.children.each do |page|
                    %tr.node.level-3
                      %td.title
                        %span{:style=>"width: 60px;"} &nbsp;&nbsp;&nbsp;
                        = image_tag('admin/page.png', :alt => 'page-icon', :size => "12x15")
                        %span= link_to_function page.title, "javascript:OpenFile('#{page.url}')"
    - else
      %table#managed_files.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
        %thead
          %tr
            %th.filename{:width=>"70%"} Filename
            %th.type Type
            %th.updated_at Date
            %th.size Size
            - if !(request.request_uri =~ /.*selector.*/)
              %th.actions Actions
        %tbody{:style=> "font-size: 11px;"}
          - @managed_files.each do |managed_file|
            %tr.node.level-1
              %td.filename
                - if !params[:file_type].nil? && params[:file_type] == 'photos'
                  = image_tag(managed_file.public_filename(:thumb), :alt => 'file-icon')
                - else
                  = image_tag('admin/page.png', :alt => 'file-icon', :size => "12x15")
                - if request.request_uri =~ /.*selector.*/
                  %span= link_to_function managed_file.filename, "javascript:OpenFile('#{managed_file.public_filename}')"
                - else
                  %span= link_to managed_file.filename, managed_file.public_filename
              %td.type
                = managed_file.content_type 
              %td.updated_at
                = managed_file.updated_at.strftime('%d/%m/%Y')
              %td.size{:style=>"white-space: nowrap"}
                = number_to_human_size(managed_file.size)
              - if !(request.request_uri =~ /.*selector.*/)
                %td.actions
                  = link_to image('remove', :alt => 'Remove File'), remove_admin_managed_file_url(managed_file)
